[package]
name = "dgraph"
version = "0.1.2"
authors = ["Swoorup Joshi"]
description = "A rust client for Dgraph database"
readme = "README.md"
license = "MIT"
keywords = ["dgraph", "grpc"]
repository = "https://github.com/Swoorup/dgraph-rs"
homepage = "https://github.com/Swoorup/dgraph-rs"
edition = "2018"

[dependencies]
grpcio = "0.4.3"
futures = "0.1.25"
protobuf = "2.3.0"
failure = "0.1.5"
rand = "0.6.5"
protoc-grpcio = { version = "1.0.1", optional = true }

[dev-dependencies]
chrono = { version = "0.4.6", features = ["serde"] }
serde = "1.0.87"
serde_derive = "1.0.87"
serde_json = "1.0.38"
slog = "2.4.1"
slog-term = "2.4.0"
slog-scope = "4.1.1"

[features]
compile-protobufs = ["protoc-grpcio"]

[[bin]]
doc = false
name = "protoc"
path = "compile-protobufs.rs"
required-features = ["compile-protobufs"]